<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154602752488-ahsi7dr2ld8t0te2icstpa1vqa98ssib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154602752488-ahsi7dr2ld8t0te2icstpa1vqa98ssib</string>
	<key>API_KEY</key>
	<string>AIzaSyAtrppW4K_XjfAtZ_ZGEBerryMdqvqJaGw</string>
	<key>GCM_SENDER_ID</key>
	<string>154602752488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixycoders.ShoppingCart</string>
	<key>PROJECT_ID</key>
	<string>shoppingcart-495f7</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingcart-495f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154602752488:ios:adca4ef39ce9d506dcfc5d</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingcart-495f7.firebaseio.com</string>
</dict>
</plist>